github "AFNetworking/AFNetworking" ~> 4.0
github "Mantle/Mantle" "master"

github "ovuline/MTLManagedObjectAdapter" "master"
github "mxcl/PromiseKit" ~> 6.13
github "ReactiveCocoa/ReactiveObjC" ~> 3.1
